.presentacion{
    margin: 20px;
}
.titulo{
    margin-top: 100px;
    text-align: center;
}
.container-coments{
    margin: 20px;
}
.comentarios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black 1px;
    padding: 100px px;
    margin: 20px;
}


.comentario{ 
    display: flex;
    flex-direction: column;
    border: solid red 1px;
    padding: 50px;
    padding-bottom: 0px;
}
.foto{
     display: flex;
    justify-content: center;  
 border: black 1px solid;
 margin-bottom: 10px;
}
.foto-perfil{
   
    border-radius: 50%;

}
.p-coment{
    margin-top: 20px;
    text-align: center;
}
.nombre-perfil{
    text-align:right;
    margin-top: 15px;
}