
    /* Agrega un poco de espacio entre las imágenes */
    .carousel-item img {
      margin: auto;
    }

    
    /* Estilos para el footer */
    footer {
      background-color: #333; /* Fondo oscuro */
      color: white; /* Texto en blanco */
      padding: 20px 0; /* Espaciado interno */
    }
    footer p {
      margin-bottom: 5px; /* Espaciado entre párrafos */
    }
    footer a {
      color: white; /* Enlaces en blanco */
      margin-right: 10px; /* Espaciado entre enlaces */
    }

 